*.exe
*.darwin
*.linux
*.windows
ziggler-backend
ziggler_backend
ziggler-backend.exe

bin/

testdata/
*.test

vendor/

.vscode/
.idea/

.DS_Store

*.log

# Database files
*.db
*.sqlite
*.sqlite3
ziggler.db

.env